@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%; }

body {
  overflow-x: hidden; }

.loader {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #9e9e9e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s ease; }
  .loader--inner {
    font-size: 3.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px; }

ul {
  list-style: none; }

.wrapper {
  width: 90%;
  max-width: 1600px;
  display: flex;
  margin: 0px auto; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: baseline; }

.video {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative; }
  .video--overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 2; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

a {
  color: #252525;
  display: inline-block;
  outline-width: 0%;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
  color: #080808;
  font-weight: 400;
  margin-bottom: 5rem; }

h1 {
  font-size: 5.3rem;
  line-height: 1.2; }

h2 {
  font-size: 3.6rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2.8rem; }

h5 {
  font-size: 2.4rem;
  margin-bottom: 2.5rem; }

h6 {
  font-size: 2rem; }

.logo {
  color: #080808;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .5s ease; }

.menu--text {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-transform: uppercase; }

.hero--small-text {
  color: #080808;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 2.5rem;
  text-transform: uppercase; }

.hero--heading {
  margin-bottom: 18px;
  font-size: 36px; }

.cta {
  color: #252525;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase; }

.text--big {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.5rem; }

.text--small {
  margin-bottom: 2.5rem;
  color: #252525;
  line-height: 1.5; }

.our-work h3 {
  margin: 1.6rem 0rem; }

.our-services--heading {
  margin-top: -3.5rem; }

.footer--link {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s ease; }
  .footer--link:hover {
    color: rgba(255, 255, 255, 0.5); }

.footer--list a {
  font-size: 2.5rem;
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .footer--list a:hover {
    color: rgba(255, 255, 255, 0.5); }

.footer__item--3 p {
  font-size: 1.4rem;
  margin-bottom: 2.5rem; }

.footer__item--3 small {
  font-size: 1rem; }

.nav {
  color: #fff;
  font-family: 'Libre Baskerville', serif; }
  .nav h3 {
    color: #fff; }
  .nav li {
    opacity: 0;
    transform: translateY(-25px);
    transition: all .3s ease; }
  .nav--link, .nav--small {
    color: #fff;
    line-height: 1.6;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: all .3s ease; }
    .nav--link:hover, .nav--small:hover {
      color: #9e9e9e;
      transform: scale(0.9); }
  .nav--link {
    font-size: 2.8rem; }
    @media only screen and (min-width: 768px) {
      .nav--link {
        font-size: 5.6rem; } }
    .nav--link::after {
      height: 1rem; }
  .nav--small {
    font-size: 1.2rem; }
    @media only screen and (min-width: 768px) {
      .nav--small {
        font-size: 2.4rem; } }
    .nav--small::after {
      height: .5rem; }

.cta {
  overflow: hidden;
  padding: 1.6rem 0rem;
  position: relative;
  margin: 2.5rem 0rem; }
  .cta::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 2px;
    width: 25%;
    background-color: #252525;
    transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .cta i {
    opacity: 0;
    line-height: 0;
    margin: 0;
    margin-left: 5rem;
    transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .cta:hover i {
    opacity: 1; }
  .cta:hover::after {
    width: 100%; }

.btn, .btn--full {
  background-color: transparent;
  border: 1px solid #080808;
  color: #080808;
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  padding: 1.6rem 6.4rem;
  position: relative;
  text-transform: uppercase;
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  z-index: 2; }
  .btn::after, .btn--full::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #080808;
    transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transform: translateY(100%); }
  .btn:hover, .btn--full:hover {
    color: #fff; }
    .btn:hover::after, .btn--full:hover::after {
      transform: translateY(0%); }
  .btn--full {
    color: #fff;
    border: 1px solid #fff;
    margin: 2.5rem 0rem; }
    .btn--full::after {
      background-color: #fff; }
    .btn--full:hover {
      color: #080808; }

.hero .cta {
  margin: 0px; }

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
  padding: 1.5rem 0rem;
  width: 100%; }
  .header .wrapper {
    justify-content: space-between;
    align-items: center; }
  .header .menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 36px; }
    .header .menu__container .menu--line {
      height: 1px;
      width: 100%;
      background-color: #080808;
      transition: all .3s ease-in-out; }
      .header .menu__container .menu--line:not(:last-child) {
        margin-bottom: 1rem; }

.menu--line--top--close {
  transform: translateY(0) translateX(0px) rotate(40deg);
  display: inline-block;
  transition: all .5s ease; }

.menu--line--bottom--close {
  transform: translateY(-11px) translateX(0px) rotate(-40deg);
  display: inline-block;
  transition: all .3s ease-in-out; }

.nav {
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: #080808;
  display: none;
  overflow-y: scroll; }
  @media only screen and (min-width: 768px) {
    .nav {
      overflow-y: hidden; } }
  .nav .wrapper {
    padding: 10rem 0rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .nav .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row; } }
    @media only screen and (min-width: 992px) {
      .nav .wrapper {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        width: 70%; } }
  @media only screen and (min-width: 768px) {
    .nav__right {
      text-align: right; } }
  .nav__right--top {
    margin-bottom: 7.5rem; }
    .nav__right--top li:not(:last-child) {
      margin-bottom: 2.5rem; }
  .nav--social {
    display: flex;
    justify-content: flex-start; }
    @media only screen and (min-width: 768px) {
      .nav--social {
        justify-content: flex-end; } }
    .nav--social li:not(:last-child) {
      margin-right: 2.5rem; }
    .nav--social a {
      color: #fff;
      font-size: 2.4rem; }

.nav--open {
  display: block; }

.footer__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 1.2rem;
  margin-bottom: 5rem; }
  .footer__form input[type="email"] {
    background-color: transparent;
    border: none;
    color: #fff;
    display: inline-block;
    outline-width: 0;
    width: 100%; }
  .footer__form button[type="submit"] {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    outline-width: none; }
  .footer__form::placeholder {
    color: #fff; }

.grid {
  display: grid;
  width: 100%; }

.hero .grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 5rem; }
  @media only screen and (min-width: 768px) {
    .hero .grid {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 5rem auto 5rem auto auto; } }
  @media only screen and (min-width: 992px) {
    .hero .grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 100px 100px 350px auto 120px;
      height: 100%;
      row-gap: 0rem; } }
  .hero .grid__item {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .hero .grid__item img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .hero .grid__item--overlay {
      position: absolute;
      top: 0%;
      left: 0%;
      z-index: 2;
      height: 100%;
      width: 100%;
      background-color: #f4f4f4; }
    .hero .grid__item--1 {
      display: none; }
      @media only screen and (min-width: 768px) {
        .hero .grid__item--1 {
          display: block;
          grid-column: 1 / 2;
          grid-row: 2 / 3; } }
      @media only screen and (min-width: 992px) {
        .hero .grid__item--1 {
          grid-column: 2 / 4;
          grid-row: 2 / 4; } }
    .hero .grid__item--2 {
      grid-row: 1 / 2; }
      @media only screen and (min-width: 768px) {
        .hero .grid__item--2 {
          display: block;
          grid-column: 2 / 3;
          grid-row: 1 / 4;
          padding-left: 5rem; } }
      @media only screen and (min-width: 992px) {
        .hero .grid__item--2 {
          grid-column: 4 / 9;
          grid-row: 1 / -1;
          padding-left: 0rem;
          margin-left: 5rem; } }
    .hero .grid__item--3 {
      grid-row: 2 / 3; }
      @media only screen and (min-width: 768px) {
        .hero .grid__item--3 {
          display: block;
          grid-column: 1 / 4;
          grid-row: 4 / 5; } }
      @media only screen and (min-width: 992px) {
        .hero .grid__item--3 {
          grid-column: 8 / -1;
          grid-row: 3 / 5;
          position: relative;
          z-index: 2; } }
    .hero .grid__item--4 {
      display: none; }
      @media only screen and (min-width: 992px) {
        .hero .grid__item--4 {
          display: inline-block;
          grid-column: 11 / -1;
          grid-row: 5 / -1; } }

.what-we-do .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 5rem; }
  @media only screen and (min-width: 992px) {
    .what-we-do .grid {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 10rem 10rem 40rem 10rem; } }
  .what-we-do .grid__item {
    height: 100%;
    width: 100%; }
    .what-we-do .grid__item--1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
      @media only screen and (min-width: 992px) {
        .what-we-do .grid__item--1 {
          grid-column: 1 / 5;
          grid-row: 1 / 4; } }
    .what-we-do .grid__item--2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 2.5rem 0rem 0rem -2.5rem; }
      @media only screen and (min-width: 768px) {
        .what-we-do .grid__item--2 {
          margin: 10rem 0rem 0rem -10rem; } }
      @media only screen and (min-width: 992px) {
        .what-we-do .grid__item--2 {
          grid-column: 4 / 8;
          grid-row: 2 / -1;
          margin: 0rem; } }
    .what-we-do .grid__item--3 {
      grid-column: 1 / 3;
      grid-row: 2 / 3; }
      @media only screen and (min-width: 768px) {
        .what-we-do .grid__item--3 {
          margin-top: 15rem; } }
      @media only screen and (min-width: 992px) {
        .what-we-do .grid__item--3 {
          grid-column: 8 / -1;
          grid-row: 2 / -1;
          margin: 0rem;
          position: relative;
          z-index: 5;
          padding-left: 5rem; } }

.our-work .grid {
  grid-template-columns: repeat(1, 1fr); }
  @media only screen and (min-width: 768px) {
    .our-work .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 10rem auto 10rem auto 10rem auto auto;
      column-gap: 7.5rem; } }
  .our-work .grid__item {
    height: 100%;
    width: 100%; }
    .our-work .grid__item img {
      height: 42.5rem;
      max-width: 100%;
      object-fit: cover;
      transition: all 0.3s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .our-work .grid__item:not(:last-child) {
      margin-bottom: 5rem; }
    .our-work .grid__item h3,
    .our-work .grid__item small {
      transition: all 0.5s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .our-work .grid__item:hover h3,
    .our-work .grid__item:hover small {
      color: rgba(8, 8, 8, 0.5); }
    @media only screen and (min-width: 768px) {
      .our-work .grid__item--1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3; } }
    @media only screen and (min-width: 768px) {
      .our-work .grid__item--2 {
        grid-column: 2 / 3;
        grid-row: 2 / 4; } }
    @media only screen and (min-width: 768px) {
      .our-work .grid__item--3 {
        grid-column: 1 / 2;
        grid-row: 3 / 5; } }
    @media only screen and (min-width: 768px) {
      .our-work .grid__item--4 {
        grid-column: 2 / 3;
        grid-row: 4 / 6; } }
    .our-work .grid__item--5 {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (min-width: 768px) {
        .our-work .grid__item--5 {
          grid-column: 1 / -1;
          grid-row: 6 / 7; } }

.our-services .grid {
  grid-template-columns: 1fr; }
  @media only screen and (min-width: 768px) {
    .our-services .grid {
      grid-template-columns: repeat(2, auto); } }
  .our-services .grid__item--1 {
    background-color: #fff;
    padding: 0rem 2.5rem; }
    .our-services .grid__item--1 .wrapper {
      width: 90%;
      justify-content: space-between;
      align-items: flex-start; }
    .our-services .grid__item--1 .grid__inner {
      display: grid;
      grid-template-columns: 1fr; }
      @media only screen and (min-width: 768px) {
        .our-services .grid__item--1 .grid__inner {
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          column-gap: 5rem; } }
      .our-services .grid__item--1 .grid__inner--item:not(:last-child) {
        margin-bottom: 5rem; }
  .our-services .grid__item--2 {
    display: none; }
    @media only screen and (min-width: 768px) {
      .our-services .grid__item--2 {
        display: block;
        margin: 10rem 0rem -10rem 0rem; } }

.footer {
  background-color: #080808;
  color: #fff;
  padding: 5rem 0rem; }
  .footer .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
  .footer__item {
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .footer__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; } }
    .footer__item:not(:last-child) {
      margin-bottom: 5rem; }
    .footer__item ul {
      margin-bottom: 5rem; }
    @media only screen and (min-width: 768px) {
      .footer__item--mid {
        display: flex;
        align-items: flex-end; } }
  @media only screen and (min-width: 768px) {
    .footer__nav {
      display: flex; }
      .footer__nav li:not(:last-child) {
        margin-right: 2.5rem; } }
  .footer li:not(:last-child) {
    margin-bottom: 1.2rem; }
  .footer h5 {
    color: #fff; }
  .footer--list {
    display: flex; }
    .footer--list li:not(:last-child) {
      margin-right: 1.6rem; }
    .footer--list a {
      color: #fff; }
  .footer .copy {
    width: 50%; }
  .footer .small {
    width: 50%;
    text-align: right; }

.hero {
  background-color: #f4f4f4;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .hero {
      height: 100vh; } }
  .hero .wrapper {
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .hero .wrapper {
        height: 100vh; } }

.what-we-do {
  padding: 10rem 0rem;
  background-color: #fff; }

.our-work {
  padding: 10rem 0rem;
  background-color: #fff; }
  .our-work .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.our-clinets {
  background-color: #f4f4f4;
  padding: 10rem 0rem; }
  .our-clinets .wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .our-clinets .icon__container {
    width: 90%;
    margin: 0 auto; }
  .our-clinets img {
    display: inline-block;
    height: 150px;
    width: 250px;
    margin: 0px 50px 50px 0px; }

.our-services {
  background-color: #fff; }
  .our-services .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }

.get-started {
  background-image: url(../../imgs/get-started.jpg);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0rem; }
  .get-started .wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 85%; }
