@mixin space-between-center {
    justify-content: space-between;
    align-items: center;
}

@mixin space-between-top {
    justify-content: space-between;
    align-items: flex-start;
}

@mixin space-between-center-down {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@mixin space-between-start-down {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}