//Colors
$white: #fff;
$light-grey: #f4f4f4;
$dark-grey: #9e9e9e;
$light-text: #252525;
$dark-text: #080808; 

//Paddings
$padding-small: 5rem 0rem;
$padding-large: 10rem 0rem;

//Media Queries
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-large-device: 1600px;