.footer {
    background-color: $dark-text;
    color: $white;
    padding: $padding-small;

    & .wrapper {
        @include space-between-start-down;
    }

    &__item {
        width: 100%;

        @media only screen and(min-width: $medium-device) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &:not(:last-child) {
            margin-bottom: 5rem;
        }

        & ul {
            margin-bottom: 5rem;

        }

        &--mid {
            @media only screen and(min-width: $medium-device) {
                display: flex;
                align-items: flex-end;
            }
        }
    }

    &__nav {
        @media only screen and(min-width: $medium-device) {
            display: flex;

            & li {
                &:not(:last-child) {
                    margin-right: 2.5rem;
                }
            }
        }

    }

    & li {
        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }  
    }

    & h5 {
        color: $white;
    }

    &--list {
        display: flex;

        & li {
            &:not(:last-child) {
                margin-right: 1.6rem;
            }  
        }

        & a {
            color: $white;
        }
    }

    & .copy {
        width: 50%;
    }

    & .small {
        width: 50%;
        text-align: right;
    }
}