@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

a {
    color: $light-text;
    display: inline-block;
    outline-width: 0%;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    color: $dark-text;
    font-weight: 400;
    margin-bottom: 5rem;
}

h1 {
    font-size: 5.3rem;
    line-height: 1.2;
}
h2 {font-size: 3.6rem;}
h3 {font-size: 3rem;}
h4 {font-size: 2.8rem;}
h5 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}
h6 {font-size: 2rem;}

.logo {
    color: $dark-text;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu--text {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.hero--small-text {
    color: $dark-text;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.hero--heading {
    margin-bottom: 18px;
    font-size: 36px;
}

.cta {
    color: $light-text;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.text--big {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.5rem;
}

.text--small {
    margin-bottom: 2.5rem;
    color: $light-text;
    line-height: 1.5;
}

.our-work {
    & h3 {
        margin: 1.6rem 0rem;
    }
}

.our-services--heading {
    margin-top: -3.5rem;
}

.footer {
    &--link {
        color: $white;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: all .3s ease;

        &:hover {
            color: rgba($white, .5);
        }
    }

    &--list {
        & a {
            font-size: 2.5rem;
            transition: all .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);

            &:hover {
                color: rgba($white, .5);
            }
        }
    }

    &__item--3 {
        & p {
            font-size: 1.4rem;
            margin-bottom: 2.5rem;
        }

        & small {
            font-size: 1rem;
        }
    }
}

.nav {
    color: $white;
    font-family: 'Libre Baskerville', serif;

    & h3 {
        color: $white;
    }

    & li {
        opacity: 0;
        transform: translateY(-25px);
        transition: all .3s ease;
    }

    &--link,
    &--small {
        color: $white;
        line-height: 1.6;
        overflow: hidden;
        position: relative;
        z-index: 2;
        transition: all .3s ease;

        &:hover {
            color: $dark-grey;
            transform: scale(0.9);
        }
    }


    &--link {
        font-size: 2.8rem;
        @media only screen and(min-width: $medium-device) {
            font-size: 5.6rem; 
        }    

        &::after {
            height: 1rem;
        }
    }

    &--small {
        font-size: 1.2rem;

        @media only screen and(min-width: $medium-device) {
            font-size: 2.4rem; 
        }  

        &::after {
            height: .5rem;
        }
    }
}