@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

a {
    color: $light-text;
    display: inline-block;
    outline-width: 0%;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark-text;
    font-weight: 700;
    margin-bottom: 5rem;
}

h1 {
    font-size: 5.3rem;
    line-height: 1.2;
}
h2 {font-size: 3.6rem;}
h3 {font-size: 3rem;}
h4 {font-size: 2.8rem;}
h5 {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
}
h6 {font-size: 2rem;}

.logo {
    color: $dark-text;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu--text {
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.hero--small-text {
    color: $dark-text;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

#heroHeading {
    margin-bottom: 5rem;
}

.cta {
    color: $light-text;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.text--big {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.5rem;
}

.text--small {
    margin-bottom: 2.5rem;
    color: $light-text;
    line-height: 1.5;
}

.our-work {
    & h3 {
        margin: 1.6rem 0rem;
    }
}

.our-services--heading {
    margin-top: -3.5rem;
}