.hero {
    background-color: $light-grey;
    width: 100%;
    
    & .wrapper {
        @include space-between-center-down;
        padding-top: 7.5rem;
    }

    /*&__item {
        position: relative;
        overflow: hidden;

        &--overlay {
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            background-color: rebeccapurple;
            z-index: 2;
        }
    } */
}

.what-we-do {
    padding: $padding-large;
    background-color: $white;
}

.our-work {
    padding: $padding-large;
    background-color: $white;

    & .wrapper {
        @include space-between-start-down;
    }
}

.our-clinets {
    background-color: $light-grey;
    padding: $padding-large;
}

.our-services {
    background-color: $light-grey;

    & .wrapper {
        @include space-between-start-down;
        width: 100%;
    }
}

.get-started {
    background-image: url(../../imgs/get-started.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: $padding-large;

    & .wrapper {
        @include space-between-start-down;
    }
}