.hero {
    background-color: $light-grey;
    width: 100%;
    
    @media only screen and(min-width: $medium-device) {
        height: 100vh;
    }
    
    & .wrapper {
        @include space-between-center-down;

        @media only screen and(min-width: $medium-device) {
            height: 100vh;
        }
    }
}

.what-we-do {
    padding: $padding-large;
    background-color: $white;
}

.our-work {
    padding: $padding-large;
    background-color: $white;

    & .wrapper {
        @include space-between-start-down;
    }
}

.our-clinets {
    background-color: $light-grey;
    padding: $padding-large;

    & .wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    & .icon__container {
        width: 90%;
        margin: 0 auto;
    }

    & img {
        display: inline-block;
        height: 150px;
        width: 250px;
        margin: 0px 50px 50px 0px;
    }
}

.our-services {
    background-color: $white;
    & .wrapper {
        @include space-between-start-down;
    }
}

.get-started {
    background-image: url(../../imgs/get-started.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: $padding-large;

    & .wrapper {
        @include space-between-start-down;
        width: 85%;
    }
}